<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Il tuo biglietto!-Starvato Airlines{% endblock head_title%}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.min.css" integrity="sha512-fJcFDOQo2+/Ke365m0NMCZt5uGYEWSxth3wg2i0dXu7A1jQfz9T4hdzz6nkzwmJdOdkcS8jmy2lWGaRXl+nFMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
    

    <div class="header">
        <div class="logo">
            <img src="{% static 'logo3.jpg' %}" alt="">
        </div>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'prenota' %}">Prenota</a></li>
            <li><a href="{% url 'mie_prenotazioni' %}">Le mie prenotazioni</a></li>
            <li><a href="{% url 'registrati' %}">Registrati</a></li>
            <li><a href="">Aiuto</a></li>
        </ul>
        <div class="cta">
            <a href="{% url 'contattaci' %}" class="button">Contatti</a>
        </div>
        
    </div>

    <div class="hero hero--small">
        <div class="hero__content">
            <h1 class="big-text">Il tuo volo è stato prenotato con successo!</h1>
        </div>
    </div>

    <div class="container">
        <div class="background_check">
            <h3 class="intro-text tc">Grazie per la tua prenotazione.<br> 
                Puoi rivedere la tua prenotazione nella voce "Le mie prenotazioni".</h3>
            <div class="check_btn">
                <img src="{% static 'spunta_verde.png' %}" alt="">
            </div>
        </div>
        <div class="center">
            <a href="{% url 'mie_prenotazioni' %}">Le mie prenotazioni</a>
        </div>
    </div>
    
   
<footer class="footer">

    <div class="grid">
        <div class="col">
            <h4 class="normal-text tw">Contatti telefonici</h4>
            <p>+39 331 565 90 64</p>
        </div>
        <div class="col">
            <h4 class="normal-text tw">Indirizzo E-mail</h4>
            <p>stefanobls7@gmail.com</p>
        </div>
        <div class="col">
            <h4 class="normal-text tw">Sede legale ed operativa</h4>
            <p>Pescara (PE) - Via Tirino,99 - 65129 </p>
        </div>
        <div class="col">
            <h4 class="normal-text tw">Prossimi eventi</h4>
            <p>. . .</p>
        </div>
    </div>

</footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.pkgd.min.js" integrity="sha512-achKCfKcYJg0u0J7UDJZbtrffUwtTLQMFSn28bDJ1Xl9DWkl/6VDT3LMfVTo09V51hmnjrrOTbtg4rEgg0QArA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    

<script>
    $( document ).ready(function() {
        $( ".hamburger").on('click', function(){
            $( ".menu" ).toggleClass("menu--open");
        })


    })



</script>
</body>
</html>